
.li_container{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.li_container button{
    width: 30px;
    border-radius: 25%;
}


.myButton2 {
  margin: 3px;
  font-size:15px;
  font-family:Times New Roman;
  width:36px;
  height:34px;
  border-width:1px;
  color:rgba(252, 248, 248, 1);
  border-color:rgba(12, 12, 15, 1);
  background:rgba(6, 13, 24, 1);
  cursor: pointer;
}

.myButton2:hover {
  background: rgba(155, 175, 214, 1)
}
              
                
                                       