
.li_container{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li_container button{
    width: 30px;
    border-radius: 25%;
}

.myButton2 {
    margin-left: 4px;
    font-size:15px;
    font-family:Courier New;
    width:23px;
    height:24px;
    border-width:0px;
    color:rgba(11, 11, 12, 1);
    border-color:rgba(7, 7, 7, 1);
    font-weight:bold;
    font-style:italic;
    background:linear-gradient(rgba(3, 1, 1, 0.18), rgba(129, 64, 106, 0.2));
  }
  
  .myButton2:hover {
    background: linear-gradient(rgba(129, 64, 106, 0.2), rgba(3, 1, 1, 0.18));
  }
                
                                       